* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-primary-color);
}

main {
    width: 100%;
}

main section {
    width: 100%;
    padding: var(--padding-2xl);
}

.btn {
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background: var(--bg-active-color);
    cursor: pointer;
}

#reset-btn {
    background: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn{
    background: var(--bg-succes-color);
    color: var(--text-primary-color);
    
}

main section .top {
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}