:root {
    --bg-primary-color: #0f1011;
    --bg-secondary-color: #1a1c1e;
    --bg-active-color: #ffffff;
    --bg-danger-color: #ff4757;
    --bg-succes-color: #2ed573;
    --text-primary-color: #f1f2f6;
    --text-secondary-color: #ced6e0;
    --text-tertiary-color: #747d8c;
    --text-active-color: #1e272e;
    --border-color: #2f3542;
    --padding-sm: 8px;
    --padding-md: 12px;
    --padding-lg: 20px;
    --padding-xl: 32px;
    --padding-2xl: 48px;
    --margin-sm: 8px;
    --margin-md: 12px;
    --margin-lg: 20px;
    --margin-xl: 32px;
    --margin-2xl: 48px;
    --gutter-sm: 8px;
    --gutter-md: 16px;
    --gutter-lg: 24px;
    --gutter-xl: 32px;
    --gutter-2xl: 40px;
    --font-size-sm: 13px;
    --font-size-md: 15px;
    --font-size-lg: 18px;
    --font-size-xl: 22px;
    --font-size-2xl: 28px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-2xl: 24px;
}